<header class="navbar bg-dark text-light">
  <section class="navbar-section">
    <a href="#" class="btn btn-link text-light">Docs</a>
    <a href="#" class="btn btn-link text-light">Examples</a>
  </section>
  <section class="navbar-center">
    header!
  </section>
  <section class="navbar-section mr-2">
    <a href="" class="text-light">Captain <%= @captain.name %></a>
  </section>
</header>
